.card-container {
    background-image: url("/images/bg-main-desktop.png");
    background-color: #21092f; 
    height: 250px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.card {
    width: 290px;
}
.card-back {
    position: absolute;
    top: 2em;
    right: 1em;
}
.card-front{
    position: absolute;
    top: 7em;
    right: 4em;
}

.card-logo {
    position: absolute; 
    width: 60px;
    top: 8em;
    right: 16em;
}

.card-text {
    position: absolute;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.card-number {
    font-size: 20px;
    letter-spacing: .1em;
    font-weight: 500;
    top: 11em;
    right: 4.3em;
}
.card-name {
    letter-spacing: .2em;
    top: 25.5em;
    right: 23.7em;
}

.card-cvc {
    letter-spacing: .2em;
    top: 11em;
    right: 5.2em;
}

.card-exp {
    letter-spacing: .2em;
    top: 25.5em;
    right: 9em;
}

@media screen and (min-width: 1280px) {

    .card {
        width: 320px;
    }
    .card-container {
        width: 40%; 
        height: 100vh; 
    }

    .card-back {
        position: absolute;
        top: 17em;
        right: 45em;
    }
    .card-front{
        position: absolute;
        top: 6em;
        right: 50em;
    }

    .card-number {
        font-size: 20px;
        letter-spacing: .1em;
        font-weight: 500;
        top: 10.5em;
        right: 46.5em;
    }
    .card-name {
        letter-spacing: .2em;
        top: 25.5em;
        right: 108em;
    }
    
    .card-cvc {
        letter-spacing: .2em;
        top: 39em;
        right: 85em;
    }
    
    .card-exp {
        letter-spacing: .2em;
        top: 25.5em;
        right: 93em;
    }
    .card-logo {
        top: 7em;
        right: 63em;
    }
}