
.form-section{
    margin-top: 4em;
    width: 100%;
}
.form {
    margin: auto 1em;
}

.labelForm {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    color: var(--text-violet);
    margin-top: 5em;

}
.input {
    font-family:'Space Grotesk', sans-serif;
    padding-left: 1em;
    font-weight: 500;
    font-size: 18px;
    color: var(--text-violet);
    height: 40px;
    border-radius: 10px;
    border: var(--text-grey) solid 1px;
    width: 94%;
    margin: 1em auto;
    outline: none;
}

input::-webkit-input-placeholder{
    
    color: var(--text-grey);
    align-items: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=text]:focus, input[type=number]:focus {
    border: var(--border-focus) solid 1px;
}


.tresInputs{
    display: flex;
    justify-content:space-between;
}
#inputCardMounth{
    width: 20%;
    margin-right: .5em;
}
#inputCardYear {
    width: 20%;
    margin-right: 1em;
}

#inputCardCvc{
    width: 60%;
    
}
.label-cvc {
    margin-left: 0.9em;
}

#confirm {
    color: #FFFFFF;
    font-family:'Space Grotesk', sans-serif;
    font-size: 18px;
    border: 0;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    background-color: var(--text-violet);
    margin: 2em auto 5em auto;
}

.error{
    border: var(--border-null) solid 1px;
}
.error_message{
    gap: 0;
}
.error_message::after{
    content: "can't be blank";
    color: var(--border-null);
    margin-top: .2rem;
}

@media screen and (min-width: 1280px) {
    .form-section{
        width: 60%;
        margin: 10em 18em auto 18em;
    }

    .label-cvc {
        margin-left: 2.5em;
    }


}