/*
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px


### Primary

- Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
- Red (input errors): hsl(0, 100%, 66%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light grayish violet: hsl(270, 3%, 87%)
- Dark grayish violet: hsl(279, 6%, 55%)
- Very dark violet: hsl(278, 68%, 11%)


### Body Copy

- Font size: 18px

### Font

- Family: [Space Grotesk](https://fonts.google.com/specimen/Space+Grotesk)
- Weights: 500
*/


/* Variaveis do Projeto */
:root {
    --text-violet: hsl(278, 68%, 11%);
    --button: hsl(278, 68%, 11%); 
    --text-grey: hsl(270, 3%, 87%);
    --text-dark-grey: hsl(279, 6%, 55%);
    --border-focus:  #5f0594;
    --border-null: #ff5252;
  }


body {
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

.layout{
    display:block;
}


.attribution { 
    padding: .5em;
    color: #FFFFFF;
    font-size: 9px;
    text-align: center;
    margin: auto;
    font-weight: 400; 
    letter-spacing: 0.1em;
    text-align: center;
    background-color: #4d4d4d;
}
.attribution a { 
    text-decoration: none;
    color: #FFFFFF;
}


.hidden {
    display: none;
}
@media screen and (min-width: 1280px) {
    .attribution{
        font-size: 11px;
    }

    .layout {
        display: flex;
        flex-direction: row;
    }
}